.title_container-change-pass {
    border-style: solid;
    border-color: #FF0036;
    border-width: 2px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #21242e;
    border-radius: 15px;
}
.pass_img {
    height: 60px;
    width: 60px;
    margin: 2%;
    background-color:#21242e;
}
.title1 {
    margin: auto;
    font-size: 200%;
    color: white;
    font-weight: 600;
    margin-right: 20% !important;
}

.input-new-password, .input-confirm-password {
  font-family: 'Montserrat';
  margin: auto;
}

.input-confirm-password {
  margin-top: 10px;
}
.change_container_confirm {
    border-style: solid;
    border-color: #FF0036;
    border-width: 2px;
    height: auto;
    background-color: #21242e;
    border-radius: 15px;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.classNameEmail{
    color:white;
}

.text_change_good{
    margin: 3%;
    text-align: center;
    color:#4CAF50;
    font-size: 100%
}

.text_change_error{
    margin: 3%;
    text-align: center;
    color:red;
    font-size: 100%
}
.input1 {
    margin: auto;
    width: 60%;
    padding: 7px 7px;
    border-bottom-style: solid;
    border-bottom-color: #FF0036;
    border-bottom-width: 3px;
}
.btn6 {
    background-color: #FF0036;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    margin-top:140px;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    width: 40%;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px #999;
            box-shadow: 0 2px #999;
    margin-top: 10px;
 }
.btn6:hover {
    background-color: #F87676;
}

.btn6:active {
  background-color: #F87676;
  -webkit-box-shadow: 0 1px #666;
          box-shadow: 0 1px #666;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}
