/* --- Form start --- */

.form {
    max-width: calc(100vw - 40px);
    width: 420px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.form h2 {
    margin: 0;
    padding-bottom: 10px;
    color: #1e439b;
    font-size: 22px;
    border-bottom: 3px solid #ff0036;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.text_zone {
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: sans-serif;
    border: 2px solid #bebed2;
}

.movebtn:hover {
    background: #646171;
    color: #fff;
    border-color: #646171;
    -webkit-box-shadow: 0px 0 5px 0 #646171;
            box-shadow: 0px 0 5px 0 #646171;
}
.login-btn{margin-top: 50px;}

.relative-singup{
    position: relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.relative-hr{
  position:relative
}
.relative-singup i.fa{
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    color: #9b9aa3;
    text-align: center;
    border-radius: 0 4px 4px 0;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.relative-singup input:focus + .fa{
    color: #3e3b4e;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}
.form-group{
    margin-bottom: 20px;
}
.form-control-singup{
    font-size: 14px;
    padding-left: 40px;
    border: none;
    border-bottom: 1px solid #3c3b4d;
    border-radius: 0;
    background-color: transparent;
}
.form-control-singup:focus{
    border-color: #ff0036;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 3px 4px -3px rgb(30, 102, 195);
            box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 3px 4px -3px rgb(30, 102, 195);
    background-color: transparent;
}
.sign-up{
    margin-top: 15px;
    text-align: center;
    position: ;
    margin-bottom: -15px;
}
.login-text{
    position: absolute;
    top: -11px;
    text-align: center;
    width: 30%;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index:2;
}
.login-hr{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.4);

}
.sign-up-firstname, .sign-up-lastname, .sign-up-password, .sign-up-confirmpassword{
  width:100%;
}

/* --- Form end --- */

/* --------------------------------------------------------------------------------------------------------- */

/* --- Animated Buttons start --- */
.movebtn {
    padding: 8px 12px;
    margin: 4px 0;
    font-family: sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}
.movebtn{
    background-color: transparent;
    display:inline-block;
    width:100%;
    background-image: none;
    padding: 8px 10px;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    -o-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
       transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
}
.movebtnre {
    border: 2px solid #ff5501;
    -webkit-box-shadow: inset 0 0 0 0 #ff5501;
            box-shadow: inset 0 0 0 0 #ff5501;
    color:#ff5501;
}
.movebtnsu {
    border: 2px solid #3e3b4e;
    color: #ffffff;
    background-color: #3e3b4e;
}

/* --- Animated Buttons end --- */

/* --------------------------------------------------------------------------------------------------------- */

/* --- Response and social media start --- */

.response {
    color: #FF0036;
    font-style: oblique;
    margin:0;
}
.google, .facebook{
    width: 50%;
    float: left;
}
.google {
    border: 2px solid #e04c40;
    color: #ffffff;
    background-color: #e04c40;
}
.facebook {
    border: 2px solid #2e4da7;
    color: #ffffff;
    background-color: #2e4da7;
}
.google:focus,
.google:hover,
.google:active {
    background-color: #ea3728;
    color: #FFF;
    border-color: #ea3728;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.facebook:focus,
.facebook:hover,
.facebook:active {
    background-color: #1e439b;
    color: #FFF;
    border-color: #1e439b;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* --- Response and social media end --- */

/* --------------------------------------------------------------------------------------------------------- */

/* -----Loader start----- */

.overlay {
    z-index: 5;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #5961821f;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #ff0000a8;
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.reconnect-title{
  color: #d3d3d3;
  padding-top: 5px;
  text-shadow: -1px 0px 4px #d6d6d6
}
/* -----Loader end------ */

/* --------------------------------------------------------------------------------------------------------- */

/* -----Success container start----- */
.success-container{
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  display:none;
  left: 50%;
	top:50%;
	width:600px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	position:fixed;
}
.success-icon{
  padding-top:15%;
  font-size: 70px;
  color:white;
}
.modalbox.success {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  background: #fff;
  padding: 25px 25px 15px;
  text-align: center;
  width:400px;
}
.modalbox.success.animate .icon {
  -webkit-animation: fall-in 0.75s;
  animation: fall-in 0.75s;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.modalbox.success h1 {
  font-family: 'Montserrat', sans-serif;
}
.modalbox.success p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.modalbox.success .icon {
  position: relative;
  margin: 0 auto;
  margin-top: -75px;
  background: #4caf50;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.modalbox.success .icon span {
  postion: absolute;
  font-size: 4em;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.center .change {
  clearn: both;
  display: block;
  font-size: 10px;
  color: #ccc;
  margin-top: 10px;
}

/* -----Amination start----- */

@-webkit-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 25%;
  }
}
@-webkit-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}
@keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}

/* -----Amination end----- */

/* -----Success container end----- */
