.main_container_verified {
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    height: auto !important;
    width: 35%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.response_good_verified{
    margin: 3%;
    text-align: center;
    font-size: 100%
}

.response_wrong_verified{
    margin: 3%;
    text-align: center;
    color:red;
    font-size: 100%
}
.login-verified{
  border: none;
  width:80px !important;
}
