/node_modules
client/node_modules
react-backend/node_modules
dist
client/dist
react-backend/dist
react-backend/yarn.lock
prod/
react-backend/app.dev
react-backend/npm-shrinkwrap.json
react-backend/.vscode/launch.json
react-backend/public/files
react-backend/public/histo
react-backend/public/avatars
react-backend/public/notification
bash.exe.stackdump
package-lock.json
yarn.lock
client/src/api.js
client/yarn.lock
